
.thukzin{
	padding-top: 70px;
	background-color:black;
	color:white;
}

.nav-link:hover{
	background-color:white;
	color:black;
	border-radius: 4px;
}

.active{
	background-color:white;
	color:black;
	border-radius: 4px;
}